.content {
    margin: 0 auto;
    margin-top: 11%;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        margin: 0;
    }
    &__text {
        margin-top: 32px;
        p:first-child {
            display: flex;
            justify-content: space-around;
            img {
                margin-left: 38px;
            }
        }
        p:last-child {
            margin-top: 30px;
        }
    }
}