@import '../../assets/scss/variebles';

.articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        margin: 0;
    }
    &__hr {
        width: 14%;
        margin-top: 5px;
        border-width: 0;
        border-top: 5px solid #1C1C1C;
    }
    &__list {
        width: 63%;
        display: flex;
        flex-direction: column;
        @media screen and (max-width: $xl) and (min-width: $xs) {
            width: 100%;
            margin-top: 91px;
        }
        @media screen and (max-width: $sm) {
            margin-top: 30px;
        }
    }
    &__item {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: $xl) and (min-width: $sm) {
            justify-content: stretch;
            &:first-of-type {
                margin-top: 0;
            }
        }
        @media screen and (max-width: $sm) {
            flex-direction: column;
            margin-top: 30px;
            &:first-of-type {
                margin-top: 0;
            }
        }
    }
    .item__link {
        width: 43%;
        @media screen and (max-width: $xl) and (min-width: $sm) {
            width: 36.7%;
            margin-right: 23px;
        }
        @media screen and (max-width: $sm) {
            width: 100%;
        }
    }
    .item__img {
        width: 100%;
        height: 298px;
        background-position: center center;
        @media screen and (max-width: $xl) and (min-width: $sm) {
            height: 232px;
        }
        @media screen and (max-width: $sm) {
            height: 100px;
        }
    }
    .item__content {
        width: 50%;
        height: 100%;
        @media screen and (max-width: $xl) and (min-width: $sm) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 1;
        }
        @media screen and (max-width: $sm) {
            width: 100%;
        }
    }
    .item__text {
        margin-top: 14px;
        @media screen and (max-width: $md) and (min-width: $xs) {
            margin-top: 8px;
        }
    }
}