@import '../../assets/scss/mixins';
@import '../../assets/scss/variebles';

.header__wrapper {
    display: flex;
    @media screen and (max-width: $xl) and (min-width: $sm) {
        justify-content: space-between;
    }
    .header__link {
        text-decoration: none;
    }
    .header__logo {
        width: 58px;
        height: 58px;
        margin-right: 171px;
        background-color: #1C1C1C;
        &::before {
            content: 'nu';
            @include titleFont;
            font-size: 30px;
            line-height: 37px;
            color: #FFFFFF;
            position: relative;
            top: 1rem;
            left: 1rem;
        }
        &::after {
            content: 'ntium.';
            @include titleFont;
            font-size: 30px;
            line-height: 37px;
            position: relative;
            top: 1rem;
            left: 1rem;
        }
    }
    .header__nav {
        @media screen and (max-width: $sm) {
            display: none;
        }
    }
}

.nav__list {
    display: flex;
    padding: 0;
    .nav__item {
        margin-right: 21px;
        list-style-type: none;
    }
    .nav__link {
        @include titleFont;
        font-size: calcFluidFontSize(20, 20, 480, 1366);
        font-weight: 400;
        line-height: 25px;
        text-decoration: none;
        &:active, &--active {
            font-weight: 700;
        }
    }
}